	{% block links %}
		<link rel="stylesheet" href="../static/css/modals.css">
	{% endblock %}

<div class="modalbgPix">
	<div class="modalBodyP">
		<div class="modalHead">
			<h2>QRCode gerado com sucesso!</h2>
		</div>
		<i class="fa-solid fa-angles-down"></i>
		<div class="modalContentPix">
			<i class="fa-solid fa-check"></i>
			<h2 class="Thanks">Obrigado por comprar nossa rifa!<wbr>Seu pagamento foi confirmado com sucesso.</h2>
			<img src="" alt="Pix QRCode" id="imgPix">
			<h2 id="pixChave" title="Copiar" onclick="copy(this)"></h2>
			<i class="fa-solid fa-copy" onclick="copy(this.previousElementSibling)"> Copiar</i>
		</div>
		<!--<i class="fa-solid fa-moon"></i>
		<i class="fa-solid fa-shuttle-space"></i>
		<i class="fa-solid fa-meteor"></i>
		<i class="fa-solid fa-satellite"></i>-->
		<div class="bgSquare one">
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
		</div>
		<div class="bgSquare two">
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
			<div class="innerSquare"></div>
		</div>
		<div class="footer">
			<h2>Escaneie o QRCode para pagar ou siga para os pedidos em continuar</h2>
			<a class="btnContinuar" href={{ url_for("views_blueprint.pedidos") }}>Continuar</a>
		</div>
	</div>
</div>

<script defer>
	const copyIcon = document.querySelector(".fa-solid.fa-copy");
	function copy(that){
		var inp =document.createElement('input');
		document.body.appendChild(inp);
		inp.value = that.textContent;
		inp.select();
		document.execCommand('copy',false);
		inp.remove();
						
		copyIcon.innerHTML = " Copiado!";
		copyIcon.style.right = "-2%";
		setTimeout(function(){
			copyIcon.innerHTML = " Copiar";
			copyIcon.style.right = "0";
		}, 2000);					
	};			
</script>