{% block links %}
<link rel="stylesheet" href="../static/css/modals.css">
{% endblock %}

<div class="modalBgF" data-anim="closed">
<div class="modalBodyF">
<div class="modalHead">
	<h2>Estamos quase lá...</h2>
	<i class="fa-solid fa-times fa-4x" onclick="modalCloseF()"></i>
</div>
<hr class="modalHr">
<div class="modalContentF">
	<form class="modalForm" method="post">
		<input type="text" value="" name="numerosRifa" id="numerosRifa">

		{{ form.nome.label }} {{ form.nome(size=20, autocomplete="off") }}
		{{ form.telefone.label }} {{ form.telefone(size=20, autocomplete="off", pattern="^\([1-9]{2}\) (9[1-9])[0-9]{3}-[0-9]{4}$") }}
		{{ form.email.label }} {{ form.email(size=20, autocomplete="off", pattern="[^@\s]+@[^@\s]+\.[^@\s]+") }}

		{{ form.btnEnviar }}
	</form>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript"> // fallback
	try {
		window.jQuery || document.write('<script type="text/javascript" src="/static/js/lib/jquery.min.js">\x3C/script>');
	} catch {
		document.write('<script type="text/javascript" src="/static/js/lib/jquery.min.js">\x3C/script>');
	}
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js" integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript"> // fallback
	try {
		Inputmask || document.write('<script type="text/javascript" src="/static/js/lib/jquery.inputmask.min.js">\x3C/script>');
	} catch {
		document.write('<script type="text/javascript" src="/static/js/lib/jquery.inputmask.min.js">\x3C/script>');
	}
</script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", () => {
		// máscara telefone
		$(":input").inputmask();
		$("#telefone").inputmask({"mask": "(99) 99999-9999", "Regex": "^\(?\d{2}\)?[\s-]?[\s9]?\d{4}-?\d{4}$"});
	})
</script>