{% block links %}
<link rel="stylesheet" href="../static/css/modals.css">
{% endblock %}

<div class="modalBgF">
<div class="modalBodyF">
<div class="modalHead">
	<h2>Estamos quase lá...</h2>
	<i class="fa-solid fa-times fa-4x" onclick="modalCloseF()"></i>
</div>
<hr class="modalHr">
<div class="modalContentF">
	<form class="modalForm" method="post">
		<input type="text" value="" name="numerosRifa" id="numerosRifa">

		{{ form.nome.label }} {{ form.nome(size=20, autocomplete="off") }}
		{{ form.telefone.label }} {{ form.telefone(size=20, autocomplete="off", pattern="^\([1-9]{2}\) (9[1-9])[0-9]{3}-[0-9]{4}$") }}
		{{ form.email.label }} {{ form.email(size=20, autocomplete="off", pattern="[^@\s]+@[^@\s]+\.[^@\s]+") }}

		{{ form.btnEnviar }}
	</form>
</div>
</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", () => {
		// máscara telefone
		$(":input").inputmask();
		$("#telefone").inputmask({"mask": "(99) 99999-9999", "Regex": "^\(?\d{2}\)?[\s-]?[\s9]?\d{4}-?\d{4}$"});
	})
</script>