{% for rifa in rifas %}
	<div class="rifa" data-id="{{ rifa.id }}">	
			<div class="description" style="background-image: url('{{ rifa.imagem }}'); background-size: cover;" >
				<div class="subBtn">
					<label class="lblSub" for="btnConc" onclick="modalfOpen(this)">Concluir</label>
				</div>
			</div>
			<div class="descOutline">
				<div class="descInfo">
					<h1>{{ rifa.nome }}</h1>
					<h2>Autor: {{ rifa.autor }}</h2>
					<h3>Preço: {{ rifa.precoNumero }}</h3>
					<h4>Data de lançamento: {{ formata_data(rifa.dataLancamento) }}</h4>
					<h4>Data de Encerramento: {{ formata_data(rifa.dataEncerramento, hora=True) }}</h4>
				</div>
			</div>
			
			{# define variável numeros #}
			{% set numeros = rifa.numeros %}

			{# define limite de números por slide #}
			{% set numLimite = namespace(value=300) %}

			{# calcula quantidade de slides #}
			{% set quantidadeSlides = [] %}
			{% if rifa.numeroMaximo <= numLimite.value %}
				{% set temp = quantidadeSlides.append(1) %}
			{% else %}
				{% set temp = quantidadeSlides.append(rifa.numeroMaximo // numLimite.value + 1) %}
			{% endif %}
				<label for="back" class="backLabel"><i class="fa-solid fa-chevron-left"></i></label>
				<label for="forwards" class="forwardsLabel"><i class="fa-solid fa-chevron-right"></i></label>
			{# renderiza números #}
			<form class="rifaGrid" style="width: {{ 98 * quantidadeSlides[0] }}%">

				<input type="radio" style="display: none;" id="back" class="slideBack">
				<input type="radio" style="display: none;" id="forwards" class="slideForwards">
				
				
				{# cada slide #}
				{% for slideAtual in range(0, quantidadeSlides[0]) %}
					<div class="slides" style="width: calc(100% - .{{ quantidadeSlides[0] }}%);">
						{% set numeroEspecial = {} %}
						
						{# define comeco e fim de cada slide #}
						{% set comecoSlide = (numLimite.value * slideAtual) + 1 %}
						{% set fimSlide = (numLimite.value * slideAtual) + numLimite.value + 1 %}

						{# cada slide #}
						{% for j in range(comecoSlide, fimSlide) %}

						    {# fim do slide se slide for menor que o padrão #}
							{% if j > rifa.numeroMaximo %}
								{% break %}							
							{% endif %}

							{# define se há número especial #}
							{% set numeroEspecial = {} %}
							{% for numero in numeros %}
								{% if numero.numeroRifa == j %}
									{% set numeroEspecial = numeroEspecial.update(numero) %}
								{% endif %}
							{% endfor %}

							{# renderiza número #}
							{% if numeroEspecial != {} %}
								<div class="tooltip">
									<span class="tooltips">
										<p> {{ numeroEspecial.status }} </p>
									</span>
									<input class="numero" style="background-color: {{ rifa.cor }};" type="button" data-state="{{ numeroEspecial.status }}" data-nome="{{ numeroEspecial.nome }}" value="{{ j }}">
								</div>
							{% else %}
								<div class="tooltip">
									<span class="tooltips">
										<p> disponível </p>
									</span>
									<input class="numero" style="background-color: {{ rifa.cor }};" type="button" data-state="free" onclick="modalcOpen(this)" value="{{ j }}">
								</div>
							{% endif %}

						{% endfor %}
					</div>
					
				{% endfor %}

				<!--input type="button" name="btnConc" id="btnConc" onclick="modalfOpen()" disabled="true"-->
			</form>
	</div>
{% endfor %}