{% for rifa in rifas %}
	<div class="rifa" data-id="{{ rifa.id }}">	
			<div class="description" style="background-image: url('{{ rifa.imagem }}'); background-size: cover;" >
				<div class="subBtn">
					<label class="lblSub" for="btnConc" onclick="modalfOpen(this)">Concluir</label>
				</div>
			</div>
			<div class="descOutline">
				<div class="descInfo">
					<h1>{{ rifa.nome }}</h1>
					<h2>Autor: {{ rifa.autor }}</h2>
					<h3>Preço: {{ rifa.precoNumero }}</h3>
					<h4>Data de lançamento: {{ formata_data(rifa.dataLancamento) }}</h4>
					<h4>Data de Encerramento: {{ formata_data(rifa.dataEncerramento, hora=True) }}</h4>
				</div>
			</div>
			<form class="rifaGrid">
				
				{# renderiza números #}
				{% set numeros = rifa.numeros %}
				{% set determinador = namespace(value=1) %}
				{% set numLimite = namespace(value=300) %}
				{% set loopR = namespace(value=1) %}
				
				<input type="radio" style="display: none;" id="back" class="slideBack" checked>
				<input type="radio" style="display: none;" id="forwards" class="slideForwards">
				
				{% for numerosR in range(0, (loopR.value + 1)) %}
					
					<div class="slides">
					
						{% for j in range(determinador.value, (rifa.numeroMaximo + 1)) %}
							
							{% set determinador.value = determinador.value + 1 %}
							{% set numeroEspecial = {} %}
							{% for numero in numeros %}
								{% if numero.numeroRifa == j %}
									{% set numeroEspecial = numeroEspecial.update(numero) %}
								{% endif %}
							{% endfor %}

							{# renderiza número #}
							{% if numeroEspecial != {} %}
								<input class="numero" style="background-color: {{ rifa.cor }};" type="button" data-state="{{ numeroEspecial.status }}" data-nome="{{ numeroEspecial.nome }}" value="{{ j }}">
							{% else %}
								<input class="numero" style="background-color: {{ rifa.cor }};" type="button" data-state="free" onclick="modalcOpen(this)" value="{{ j }}">
							{% endif %}

							{% if j == numLimite.value %}
								{% set numLimite.value = numLimite.value + 300 %}
								{% set loopR.value = loopR.value + 1 %}
								{% break %}
							{% endif %}
						{% endfor %}
					</div>		
					{% if determinador.value == j %}
						{% break %}
					{% endif %}
					
				{% endfor %}

				<!--input type="button" name="btnConc" id="btnConc" onclick="modalfOpen()" disabled="true"-->
			</form>
	</div>
{% endfor %}