{% extends "layout.html" %}

            {% block links %}
                <link rel="stylesheet" href="../static/css/variaveis.css">
                <link rel="stylesheet" href="../static/css/headerOthers.css">
				<link rel="stylesheet" href="../static/css/pedidos.css">
            {% endblock %}

            {% block title %}
                Pedidos - Rifa EM2
            {% endblock %}

            {% block body %}
                
                <main>
                    {% if pedidos is defined and pedidos|length > 0 %}
						<div class="pedidosTitle">
							<hr>
							<h1> Pedidos </h1>
							<hr>
						</div>
                        {% for pedido in pedidos %}
                            <!-- comentário DÁ UMA OLHADA NOS DADOS AE, GUI: {{ pedido }}-->
							<div class="outerPart">	
								<div class="container">
                                    <p>Rifa: <span> {{ pedido.rifa.nome }} </span> </p>
									<div class="numDisplay">
										<h3> Números </h3>
										<hr>
                                        {% for numero in pedido.numerosRifa %}
                                            <div>{{ numero }}</div>
                                        {% endfor %}
									</div>
									<p>Data: <span> {{ formata_data(pedido.dataPedido, hora=True) }}  </span> </p>
									<p>ID:  <span> {{ pedido.txid }}  </span> </p>
									<img src="{{ pedido.qrcode }}">
									<p>Pix Copia e Cola: <span class="copiar" title="Copiar" data-position="{{ loop.index }}" onclick="copy(this)"> {{ pedido.copiaecola }}  </span> </p>
									<i class="fa-solid fa-copy" style="cursor: pointer;" onclick="copy(this.previousElementSibling.firstElementChild)"> Copiar</i>
									{% if pedido.status|upper == "PAGO" %}
										<p>Status:  <span class="minor status"> {{ pedido.status }}  </span> </p>
									{% elif pedido_esta_pendente(pedido.dataPedido) %}
										<p>Status:  <span class="minor status"> PENDENTE  </span> </p>
									{% else %}
									    <p>Status:  <span class="minor status"> {{ pedido.status }}  </span> </p>
									{% endif %}
									<hr>
								</div>
							</div>
							<hr class="outerHr">
                        {% endfor %}
                    {% else %}
						{% include 'semPedidos.html' %}
                    {% endif %}
                </main>
				
				<script>
					const status = document.querySelectorAll(".status");
					const outerPart = document.querySelectorAll(".outerPart");
					const spanCopy = document.querySelectorAll(".copiar");
					const copyIcon = document.querySelectorAll(".fa-solid.fa-copy");

					for(let i=0; i<spanCopy.length; i++){
					
						if(status[i].textContent === " não pago  "){
							outerPart[i].setAttribute("data-status", "NP");
						}
						if(status[i].textContent === " PENDENTE  "){
							outerPart[i].setAttribute("data-status", "P");
						}
					
						spanCopy[i].addEventListener("mouseover", function(e) {
							if(outerPart[i].getAttribute("data-status") === "NP"){
								copyIcon[i].style.color = "#a13a3a";
							}
							else if(outerPart[i].getAttribute("data-status") === "P"){
								copyIcon[i].style.color = "#dfbb3b";
							}
							else{
								copyIcon[i].style.color = "#3aa15a";
							}
						});
						spanCopy[i].addEventListener("mouseleave", function(e) {
							if(outerPart[i].getAttribute("data-status") === "NP"){
								copyIcon[i].style.color = "";
							}
							else if(outerPart[i].getAttribute("data-status") === "P"){
								copyIcon[i].style.color = "";
							}
							else{
								copyIcon[i].style.color = "";
							}
						});
						
					}
					function copy(that){
						console.log(this, that)
						var inp =document.createElement('input');
						document.body.appendChild(inp);
						inp.value = that.textContent;
						inp.select();
						document.execCommand('copy',false);
						inp.remove();
						
						copyIcon[that.getAttribute("data-position") - 1].innerHTML = " Copiado!";
						copyIcon[that.getAttribute("data-position") - 1].style.right = "-2%";
						setTimeout(function(){
							copyIcon[that.getAttribute("data-position") - 1].innerHTML = " Copiar";
							copyIcon[that.getAttribute("data-position") - 1].style.right = "0";
						}, 2000);
							
					};
				
				</script>
				
            {% endblock %}