
	{% include "modalConfirm.html" %}
	{% include "modalFinish.html" %}
	{% include "modalPix.html" %}
	{% include "pagamentoConfirm.html" %}

	<section id="rifas">
		<div class="principal">
			{% if rifas %}
				{% include "paginaRifa.html" %}
			{% endif %}
		</div>
		<button type="button" class="resetNums" onclick="limpaNums()">Limpar números</button>
		<div class="showNums"></div>
		{% include "animacaoCarregamento.html" %}
	</section>
		
	<script src="{{ url_for('static',filename='js/rifaFunctions.js') }}"></script>
	<script src="{{ url_for('static',filename='js/carregamentoRifaFunctions.js') }}"></script>