{% extends "layout.html" %}
        {% block links %}
            <link rel="stylesheet" href="../static/css/variaveis.css">
            <link rel="stylesheet" href="../static/css/headerOthers.css">
        {% endblock %}

        {% block title %}
            Sobre - Rifa EM2
        {% endblock %}

        {% block body %}
            <style>
				html, body {
					padding-bottom: 15vh;
				}
				@media (max-width: 440px){
					main {
						top: 75px !important;
						padding-bottom: 74px !important;
					}
					html, body {
						padding-bottom: 0 !important;
					}
				}
				@media (max-width: 799px){
					html, body {
						padding-bottom: 12vh;
					}
				}
				main {
					top: max(118px, 15vh);
					position: relative;
					display: grid;
				}
                .container {
					width: 100%;
					text-align: center;
					display: grid;
					grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
                }
				section {
					margin: 4rem 6rem;
					justify-self: center;
					max-width: 800px;
					background: var(--bg-linear-gradient);
					font-size: 1.5em;
					border-radius: 4rem;
					display: grid;
					grid-template-rows: 40% 10% 50%;
					place-items: center;
					min-height: 600px;
				}
				section img {
					height: 150px;
					border-radius: 100vw;
					outline: 4px solid #006834;
					box-shadow: 0px 0px 20px #000000;
					animation: boxShadow 10s ease-in-out infinite;
				}
                section h2 {
					border-top: 1px solid #022b25;
					width: calc(90% - 4rem);
					padding: 1rem;
					color: #022b25;
					font-size: clamp(3rem, 6vw + .5rem, 4rem);
					text-transform: uppercase;
					font-weight: 100;
					letter-spacing: 2px;
					animation: colorGlow 11s ease-in-out infinite;
				}
				h3 {
					align-self: start;
					padding: 2rem 4rem;
					text-align: center;
					font-weight: 500;
					font-size: clamp(1.8rem, 3vw + .5rem, 2.2rem);
					color: #022b25;
					animation: colorGlow 10s ease-in-out infinite;
				}
				section#sectionMensagem {
					grid-template-rows: 20% 60% 20%;
					justify-self: auto;
				}
				#sectionMensagem h2 {
					border-bottom: 1px solid;
					border-top: none;
					margin-bottom: 2rem;
				}
                #sectionMensagem form {
					display: grid;
					padding: 2rem;
					padding-inline: 4rem;
					gap: 1rem;
					color: #00b56d;
				}
				form div {
					display: grid;
					place-items: start;
					gap: .3rem;
				}
				input {
					width: calc(100% - 1.2rem);
					height: 3rem;
					border-radius: .6rem;
					padding-inline: .6rem;
					background: #0c3522;
					color: #00b56d;
				}
				label {
					margin-left: .1rem;
				}
                #sectionMensagem form input:valid {
                    border: #108145 1px solid;
                }
                #sectionMensagem form input:invalid {
                    border: #581f1fab 1px solid;
                }
                #sectionMensagem form textarea:valid {
                    border: #108145 1px solid;
                }
                #sectionMensagem form textarea:invalid {
                    border: #581f1fab 1px solid;
                }
                #sectionMensagem p {
                    font-size: 1.5em;
                    padding: 1em;
					color: #00b56d;
                }
				textarea#mensagem {
					border-radius: .8rem;
					width: calc(100% - 1.2rem);
					padding: .6rem;
					background: #0c3522;
					resize: none;
					color: #00b56d;
				}
				.submit {
					height: 5rem;
					place-self: center;
					width: 80%;
				}
				input#btnEnviar {
					height: 100%;
					font-size: 1.6rem;
					font-weight: 400;
					cursor: pointer;
					text-transform: uppercase;
					background: #022e18;
				}
				@keyframes colorGlow {
					0%{
						color: #00813f;
						border-color: #00813f;
					}
					60%{
						border-color: #00ab64;
						color: #00ab64;
					}
					90%{
						border-color: #00ab64;
						color: #00ab64;
					}
					100%{
						border-color: #00813f;
						color: #00813f;
					}
				}
				@keyframes boxShadow {
					0%{
						box-shadow: 0px 0px 20px #000000;
					}
					60%{
						box-shadow: 0px 0px 30px #00ab64;
					}
					100%{
						box-shadow: 0px 0px 20px #000000;
					}
				}
				
				@media (max-width: 470px){
					.container {
						grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
					}
					section {
						margin: 2rem 2rem;
					}
				}
				@media (max-width: 300px){
					.container {
						grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
					}
					section {
						margin: 1rem 1rem;
					}
				}
                
            </style>
			<main>
				<div class="container" >
					<section>
						<img src="../static/imagens/grifos.jpg" alt="Imagem dos grifos">
						<h2>Quem somos</h2>
						<h3>
							Somos os grifos! A turma do terceiro ano de Desenvolvimento de Sistemas na ETEC Fernando Prestes.
							Tivemos a ideia deste projeto e fizemos este site para facilitar a compra e o acesso à informação das nossas rifas, aproveite!
							E caso tenha alguma dúvida, sugestão ou crítica que desejas fazer, contate-nos ao lado: é rapidinho e logo você terá nossa resposta.
						</h3>
					</section>

					<section id="sectionMensagem">
						<h2>Enviar uma mensagem</h2>
						<form action="/envia-mensagem" method="post">
							<div>{{ form.hidden_tag() }}</div>
							<div>{{ form.email.label }} {{ form.email(size=20, autocomplete="off", pattern="[^@\s]+@[^@\s]+\.[^@\s]+") }}</div>
							<div>{{ form.nome.label }} {{ form.nome(size=20, autocomplete="off") }}</div>
							<div>{{ form.telefone.label }} {{ form.telefone(size=20, autocomplete="off", pattern="^\([1-9]{2}\) (9[1-9])[0-9]{3}-[0-9]{4}$") }}</div>

							<div>{{ form.mensagem(cols="70", rows="8") }}</div>
							
							<div class="submit">{{ form.btnEnviar }}</div>
						</form>
						<p> ou nos contate por contato@rifado2.com </p>
					</section>
				</div>
			</main>
            
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/jquery.inputmask.bundle.js"></script>
            <script type="text/javascript">
				document.addEventListener("DOMContentLoaded", () => {
					// máscara telefone
                    $(":input").inputmask();
                    $("#telefone").inputmask({"mask": "(99) 99999-9999", "Regex": "^\(?\d{2}\)?[\s-]?[\s9]?\d{4}-?\d{4}$"});
                });
				
				window.addEventListener("scroll", function () {
					if (window.innerWidth > 440){
						header.classList.toggle("sticky", window.scrollY > 118);
					}else {
						header.classList.toggle("sticky", window.scrollY > 75);
					}
				});
            </script>
        {% endblock %}