.modalBg, .modalBgF, .modalbgPix {
    height: 100vh;
    top: 0;
    width: 100%;
    position: fixed;
    display: none;
    place-items: center;
    background: #00000061;
    z-index: 13;
}
.modalBg.on, .modalBgF.on, .modalbgPix.on {
    display: grid;
}
.modalBody,
.modalBodyF,
.modalBodyP {
    height: 30%;
    width: 33%;
    min-width: 350px;
    min-height: 236px;
    border-radius: 2rem;
    background: #ebebeb;
    display: grid;
    grid-template-rows: 25% 45% 30%;
}
.modalBodyF {
	height: 45%;
    width: 20%;
	min-height: 350px;
	grid-template-rows: 5rem 1rem 2fr;
}

.modalBodyF .modalHead i.fa-solid.fa-times {
    font-size: 3.4rem;
    margin-top: .1rem;
}
.modalBodyP {
	height: 70%;
    width: 40%;
	min-width: 550px;
	isolation: isolate;
	min-height: 350px;
	overflow: hidden;
	position: relative;
	grid-template-rows: 5rem 4rem 66%;
}
.modalBodyP.payed {
	grid-template-rows: 20% 65%;
}
.modalBodyP.payed .modalHead h2 {
	font-size: clamp(2.5rem, 5vw + .1rem, 3rem);
	animation: textPopIn 1.5s ease-in-out forwards;
}

.modalBodyP .modalHead {
    justify-content: center;
	border-bottom: none;
}

i.fa-solid.fa-copy {
    color: #003418;
    font-size: 1.4rem;
    cursor: pointer;
	transition: color 0.4s;
}
i.fa-solid.fa-copy:hover {
    color: var(--click-font-color);
}

.modalHead {
    padding: 2.4rem;
    display: flex;
    align-items: center;
    color: var(--bg-color);
    font-size: 1.5rem;
    justify-content: space-between;
	border-bottom: 1px solid #024e2538;
}

i.fa-solid.fa-angles-down {
    place-self: center;
    align-self: start;
    font-size: 1.8rem;
    color: var(--bg-color);
}

.footer {
    border-radius: 0 0 2rem 2rem;
    padding: 1rem 2rem 1.5rem 2rem;
    display: grid;
	background: linear-gradient(to top, #024e254a, transparent);
    align-items: center;
    justify-content: end;
    grid-template-columns: 3.2fr 1fr;
    grid-template-areas: "sim nao";
    gap: .5rem;
}

i.fa-solid.fa-times {
    font-size: 3.7rem;
	cursor: pointer;
	transition: 0.4s;
}
i.fa-solid.fa-times.fa-4x:hover {
    color: var(--click-font-color);
}

.modalContent, .modalContentF {
    display: grid;
    padding-inline: 2.4rem;
	color: var(--bg-color);
    padding-top: .8rem;
}
.modalContentPix {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    row-gap: 1rem;
}

i.fa-solid.fa-check {
    font-size: 6rem;
    margin-top: 8rem;
	border: 4px solid #ebebeb;
    border-radius: 100vw;
    display: none;
	height: 6rem;
	min-height: 6rem;
    place-items: center;
    aspect-ratio: 1 / 1;
    padding: 1rem;
	animation: checkAppear 3s ease-in-out forwards;
}

.modalBodyP .modalContentPix h2.Thanks{
	display: none;
}
.modalBodyP.payed .modalContentPix h2.Thanks {
    font-size: clamp(2rem, 5vw + .1rem, 2.5rem);
    text-align: center;
    padding: 1.5rem;
	color: var(--bg-color);
	animation: textPopIn 1.5s ease-in-out forwards;
}

.modalBodyP.payed .footer {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
	padding-bottom: 4rem;
}
.modalBodyP.payed .footer a {
    animation: textPopIn 1.5s ease-in-out forwards;
}

@keyframes textPopIn {
	0%{
		transform: scale(0.8);
		opacity: 0;
	}
	90%{
		transform: scale(1.080);
		opacity: 1;
	}
	100%{
		transform: scale(1);
	}
}
@keyframes checkAppear {
	0%{
		transform: translateY(-60%);
		filter: drop-shadow(0px 0px 0px #00000083);
		color: #fff;
		opacity: 0;
	}
	20%{
		transform: translateY(0%);
		opacity: 1;
	}
	25%{
		filter: drop-shadow(0px 5px 7px #00000083);
	}
	30%{
		filter: drop-shadow(5px 5px 7px #00000083);
	}
	35%{
		filter: drop-shadow(10px -2px 7px #00000083);
	}
	45%{
		filter: drop-shadow(0px -5px 7px #00000083);
	}
	50%{
		filter: drop-shadow(-7px 0px 7px #00000083);
	}
	60%{
		filter: drop-shadow(-6px 5px 7px #00000083);
		color: #fff;
	}
	70%{
		filter: drop-shadow(0px 0px 0px #00000083);
		color: #25aa62;
	}
	80%{
		color: #fff;
	}
	90%{
		color: #25aa62;
		transform: scale(1.1);
		filter: drop-shadow(0px 0px 15px #35eb78);
		border-color: #ebebeb;
	}
	100%{
		transform: scale(1);
		filter: drop-shadow(0px 0px 0px #35eb78);
		color: #25aa62;
		border-color: #25aa62;
	}
}

h2#pixChave {
    width: 230px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #003418;
    font-weight: bolder;
    border-top: 1px solid var(--bg-color);
    padding-top: 1rem;
	transition: color 0.4s;
}
h2#pixChave:hover {
    color: var(--click-font-color);
}

.modalContentPix img {
	max-width: 100%;
    max-height: 100%;
    height: 50%;
	border: 1rem solid var(--bg-color);
}

.modalContentF{
	gap: 0;
}
input#btnConfirm,
input#btnDecline {
    grid-area: sim;
    width: 100px;
    padding: .6rem;
    height: 34px;
	font-weight: bolder;
    border: none;
    justify-self: center;
    border-radius: .5rem;
	cursor: pointer;
}
input#btnConfirm {
	justify-self: end;
	background: var(--bg-color);
    color: #fff;
	transition: 0.4s;
}
input#btnConfirm:hover {
   background: var(--click-font-color);
}

input#btnDecline {
    grid-area: nao;
	background: unset;
}
input#btnDecline:hover {
    border: 2px solid #89232357;
    color: #892323;
}

form.modalForm {
	height: 100%;
    width: 100%;
    display: grid;
    row-gap: .7rem;
    grid-template-rows: 5% 11% 5% 11% 5% 11% 35%;
}
form.modalForm label {
    font-size: 1.24rem;
	color: var(--bg-color);
    font-weight: bold;
}
form.modalForm input {
    border: 1px solid #898989;
    border-radius: .4rem;
    padding-inline: .8rem;
	background: #26741324;
}

form.modalForm input {border:0;outline:0;}
form.modalForm input:focus {outline:none!important;}

form.modalForm input:valid {
    border: var(--bg-color) 1px solid;
}
form.modalForm input:invalid {
    border: #6e020299 1px solid;
}

input#btnEnviar {
    height: 45%;
	max-height: 58px;
	min-height: 58px;
    place-self: center;
    width: 100%;
    border: none;
    color: #97fb9b8c;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: uppercase;
    cursor: pointer;
	transition: 0.4s;
    background: var(--bg-linear-gradient);
}
input#btnEnviar:hover {
    letter-spacing: .2rem;
	color: #97fb9bc7;
}

#numerosRifa {
	display: none;
}

.modalBodyP .footer {
	align-self: end;
}
.footer h2 {
	color: #003418;
}

/* botao continuar do modal Pix */

.btnContinuar {
    color: #fff;
    justify-self: center;
    place-items: center;
    display: grid;
    min-width: 80px;
    background-color: var(--bg-color);
    padding: 0.55em;
    border-radius: 0.5em;
    font-size: 1.6em;
    font-weight: bolder;
    cursor: pointer;
	transition: color 0.4s;
}
.btnContinuar:hover {
    background-color: var(--click-font-color);
}

@media (max-width: 80em){
	form.modalForm label {
		font-size: 1.5rem;
	}
	input#btnEnviar {
		font-size: 1.8rem;
	}
}

@media (max-width: 630px){
	.modalBody, .modalBodyF, .modalBodyP {
		min-width: 400px;
	}
}

@media (max-width: 450px){
	.modalBody, .modalBodyF, .modalBodyP {
		min-width: 340px;
	}
	.modalBodyP {
		height: 50%;
	}
}

@media (max-width: 320px){
	.modalBody, .modalBodyF, .modalBodyP {
		min-width: 300px;
	}
}

@media (max-width: 280px){
	.modalBody, .modalBodyF, .modalBodyP {
		min-width: 260px;
	}
	.modalBodyP {
		height: 70%;
	}
	.footer h2 {
		text-align: center;
	}
	.footer {
		justify-content: center;
		grid-template-columns: 1fr 1fr;
	}
	.modalHead {
		font-size: 1.4rem;
	}
}

/* modalPix bg squares*/

.bgSquare.one {
    position: absolute;
    height: 120px;
	z-index: -1;
    aspect-ratio: 1 / 1;
    border: 1rem solid var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem 1rem;
    gap: 1rem 1rem;
    box-sizing: border-box;
    transform: rotate(45deg);
    left: -10%;
	animation: squareFalling 7s ease-in-out infinite;
}
.innerSquare {
    background: var(--bg-color);
}

.bgSquare.two {
    position: absolute;
	z-index: -1;
    height: 120px;
    aspect-ratio: 1 / 1;
    border: 1rem solid var(--bg-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 1rem 1rem;
    gap: 1rem 1rem;
    box-sizing: border-box;
    transform: rotate(-45deg);
    right: -10%;
	animation: squareFalling2 8s 1s ease-in-out infinite;
}

@keyframes squareFalling {
	0%{
		top: -30%;
		opacity: 0;
		transform: rotate(0deg);
	}
	10%{
		opacity: 1;
	}
	100%{
		top: 100%;
		transform: rotate(160deg);
		opacity: 0;
	}
}

@keyframes squareFalling2 {
	0%{
		top: -30%;
		opacity: 1;
		transform: rotate(0deg);
	}
	100%{
		top: 100%;
		transform: rotate(-160deg);
		opacity: 0;
	}
}

/* payed */

.modalBodyP.payed i.fa-solid.fa-angles-down {
	display: none;
}
.modalBodyP.payed .modalContentPix i.fa-solid.fa-check {
	display: grid;
}
.modalBodyP.payed .modalContentPix .Thanks {
	display: block;
}
.modalBodyP.payed .modalContentPix img {
	display: none;
}
.modalBodyP.payed .modalContentPix #pixChave {
	display: none;
}
.modalBodyP.payed .modalContentPix i.fa-solid.fa-copy {
	display: none;
}
.modalBodyP.payed .footer h2 {
	display: none;
}
