
/* RIFAS */

#rifas {
    background-color: var(--first-font-color)
}
.principal {
    background: var(--first-font-color);
	min-height: 1000px;
}
.rifa {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
	padding-block: 5rem;
}

form.rifaGrid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 2.5rem;
}
.slides {
    display: flex;
    width: 989px;
    flex-wrap: wrap;
    gap: .8rem 1rem;
    justify-content: center;
    align-items: center;
}
form.rifaGrid .slides input {
    width: 40px;
    border: none;
    aspect-ratio: 1 / 1;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    font-weight: 800;
    background: var(--bg-color);
    color: var(--first-font-color);
    cursor: pointer;
    transition: 0.4s;
}

form.rifaGrid .slides input:hover {
    background-color: var(--click-font-color);
}

.description {
	display: grid;
	place-items: center;
    margin-top: 4rem;
    text-align: center;
	z-index: 1;
}

.rifaOutline {
    display: grid;
	overflow: hidden;
    place-items: center;
	z-index: 2;
    border: 5px solid var(--bg-color);
    border-radius: 0rem 0rem 1rem 1rem;
	max-width: 990px;
    width: 990px;
    border-top: none;
    border-image-slice: 12;
}

.descInfo {
	grid-column: 1 / 1;
    box-shadow: 50px 0px 50px 45px #fff, -50px 0px 50px 40px #fff;
    background: #fff;
    height: 118px;
    grid-row: 1 / 1;
}
.rifaImg {
	height: 120px;
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    width: 1000px;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}
.rifaImg img {
	height: unset;
	max-width: 100%;
	min-width: 1000px;
}

.description .descInfo h1 {
    text-transform: uppercase;
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 400;
    border-bottom: 1px solid;
}
.description .descInfo h2 {
    color: var(--bg-color);
    letter-spacing: .1rem;
    font-weight: 500;
    font-size: 1.6rem;
}
.description .descInfo h3 {
    margin-bottom: .6rem;
}
.description .descInfo h3, .description .descInfo h4 {
    color: var(--bg-color);
    font-weight: bolder;
    font-size: 1.44rem;
}

input#btnConc {
    display: none;
}
.subBtn {
    width: 990px;
    justify-self: start;
    display: grid;
    place-items: center;
    height: 100px;
	position: relative;
}
.backLbl,
.forwardsLbl {
    position: absolute;
    width: 50px;
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 3rem;
}
.backLbl {
	left: 5rem;
	color: #7f9584;
}
.forwardsLbl {
	right: 5rem;
    color: var(--bg-color);
	cursor: pointer;
}

#forwards:checked + .slides {
	margin-left: -100%;
}
#back:checked + .slides {
	margin-left: 0%;
}

.lblSub {
	height: 5rem;
    width: 15%;	
	min-width: 120px;
    background: #7f9584;
    border-radius: .3rem;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    color: #183a0a;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    cursor: no-drop;
	transition: 0.4s;
}
.lblSub.on {
	background: #319137;
    color: #002a05;
    box-shadow: inset 0px 0px 10px #3ceb5178;
    cursor: pointer;
}
.lblSub.on:hover {
    letter-spacing: 0.2rem;
    box-shadow: inset 0px 0px 10px #066211e0;
}
.lblSub:last-of-type {
	margin-bottom: 3rem;
}

button.resetNums {
    position: fixed;
    width: 200px;
    aspect-ratio: 8 / 2.5;
    bottom: 35px;
    right: 30px;
    background: var(--bg-linear-gradient);
    border: 1px solid #0445097a;
    color: #fff;
    box-shadow: 0px 0px 30px #002805;
    border-radius: 1rem;
    transition: 0.4s;
    font-size: 1.5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
	opacity: 0;
	pointer-events: none;
    z-index: 1;
}
button.resetNums.on {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
	transition: 0.4s;
}
button.resetNums:hover {
    border: 1px solid #002805;
    box-shadow: 0px 0px 35px #002e06;
    background-size: 160%;
    letter-spacing: 0px;
}
 

/* NÚMEROS DAS RIFAS */

.numero[data-state="alocado"] {
    background: var(--numero-alocado-background)!important;
    cursor: default !important;
}

.numero[data-state="reservado"] {
    background: var(--numero-reservado-background)!important;
    cursor: default !important;
}