
/* RIFAS */

#rifas {
    background-color: var(--first-font-color)
}
.principal {
    background: var(--first-font-color);
	min-height: 1000px;
}
.rifa {
    display: grid;
	grid-template-columns: 1fr;
    grid-template-areas:
        "desc"
        "rifa";
    position: relative;
}
form.rifaGrid {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
	max-height: 500px;
    min-width: 90%;
    max-width: 100%;
    gap: .4rem .5rem;
    justify-content: center;
    padding: 5rem;
    align-items: start;
    position: relative;
    margin-bottom: 2rem;
	grid-area: rifa;
}
form.rifaGrid.expandido {
	max-height: unset;
}

form.rifaGrid input {
    width: 3.4rem;
    border: none;
    aspect-ratio: 1 / 1;
    border-radius: 1.2rem;
    font-size: 1.5rem;
    font-weight: 800;
    background: var(--bg-color);
    color: var(--first-font-color);
    cursor: pointer;
    transition: 0.4s;
}

form.rifaGrid input:hover {
    background-color: var(--click-font-color);
}

.expandRifa {
    position: absolute;
    bottom: -5%;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #fff 42%, transparent);
    z-index: 2;
    display: grid;
    grid-template-rows: 70% 10%;
    justify-content: center;
    align-items: end;
    justify-items: center;
}
.expandRifa h2 {
	transition: 0.4s;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--bg-color);
    cursor: pointer;
}

form.rifaGrid.expandido .expandRifa h2 {
    opacity: 0;
    pointer-events: none;
}

.principal .rifa:first-of-type .description {
    box-shadow: inset 0px 40px 40px -10px #003619;
}

form.rifaGrid.expandido .expandRifa {
    background: unset;
	bottom: 0;
    height: unset;
}
form.rifaGrid.expandido .expandRifa i {
	transition: 0.4s;
    transform: rotateX(180deg);
    background-color: var(--bg-color);
    color: #fff;
    padding: .8rem;
    border-radius: 1rem;
}

.descInfo {
    height: 110px;
    aspect-ratio: 4 / 1;
    position: absolute;
    background: var(--bg-linear-gradient);
    margin-right: 5px;
    border-radius: 2rem;
    display: grid;
	pointer-events: none;
    place-items: center;
    grid-template-rows: 40% 10% 30%;
	opacity: 0;
	transition: 0.6s 0.1s, opacity 0.2s 0s;
}
.imgDiv.slided .descInfo {
	transition: 0.6s, opacity 0.6s 0.2s;
	pointer-events: none;
	opacity: 1;
}
.imgDiv.slided img {
	opacity: 0;
}
.imgDiv.slided i {
	transform: rotateY(180deg);
}

.imgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.imgDiv hr {
    width: 28rem;
    height: 2px;
    background: var(--bg-color);
    border: none;
}
.imgDiv hr.last {
    width: 26.5rem;
}
.imgDiv img {
    height: 110px;
	opacity: 1;
	pointer-events: auto;
	transition: 0.4s;
    aspect-ratio: 4 / 1;
    border-radius: 2rem;
}
h1.nomeRifa {
    font-size: 3rem;
	margin-left: -1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--bg-color);
}
h2.preco {
    position: absolute;
    right: 0;
    font-size: 1.8rem;
    top: 0;
    margin: 1.5rem 2rem;
    padding: 1rem 2rem;
    color: #fff;
    background: var(--bg-color);
    border-radius: 1rem;
}
.descOutline {
    display: grid;
    justify-content: center;
	min-height: 150px;
    align-items: center;
    position: relative;
    border-inline: 4px solid var(--bg-color);
    text-align: center;
    grid-area: desc;
	margin-inline: 4rem;
    margin-top: 2rem;
}
.descInfo h1 {
    text-transform: uppercase;
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 400;
    border-bottom: 1px solid;
}
.descInfo h2 {
    color: #fff;
    letter-spacing: .1rem;
    font-weight: 500;
    font-size: 1.6rem;
}
.descInfo h3 {
    margin-bottom: .6rem;
}
.descInfo h3, .descInfo h4 {
    color: #fff;
    font-weight: bolder;
    font-size: 1.44rem;
}
i.fa-solid.fa-chevron-right,
i.fa-solid.fa-chevron-down {
    font-size: 1.5rem;
    color: var(--bg-color);
	cursor: pointer;
	transition: 0.4s;
}


input#btnConc {
    display: none;
}
.subBtn {
    display: grid;
    height: 100px;
    position: absolute;
    bottom: 1rem;
    justify-self: center;
}

.lblSub {
	position: fixed;
    width: 200px;
    aspect-ratio: 8 / 2.5;
    bottom: 35px;
    right: 250px;
    background: var(--bg-linear-gradient);
    border: 1px solid #0445097a;
    color: #fff;
    box-shadow: 0px 0px 30px #002805;
    border-radius: 1rem;
    transition: 0.4s;
    font-size: 1.5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    z-index: 3;
}
.lblSub.on {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
	transition: 0.4s;
}
.lblSub.on:hover {
    border: 1px solid #002805;
    box-shadow: 0px 0px 35px #002e06;
    background-size: 160%;
    letter-spacing: 0px;
}

button.resetNums {
	transition: 0.4s;
    position: fixed;
    width: 200px;
    aspect-ratio: 8 / 2.5;
    bottom: 35px;
    right: 30px;
    background: var(--bg-linear-gradient);
    border: 1px solid #0445097a;
    color: #fff;
    box-shadow: 0px 0px 30px #002805;
    border-radius: 1rem;
    transition: 0.4s;
    font-size: 1.5rem;
    letter-spacing: .5px;
    text-transform: uppercase;
	opacity: 0;
	pointer-events: none;
    z-index: 3;
}
button.resetNums.on {
	opacity: 1;
	pointer-events: auto;
	cursor: pointer;
	transition: 0.4s;
}
button.resetNums:hover {
    border: 1px solid #002805;
    box-shadow: 0px 0px 35px #002e06;
    background-size: 160%;
    letter-spacing: 0px;
}

.tooltip {
	position: relative;
	cursor: pointer;
}
.tooltip:hover span.tooltips{
	visibility: visible;
	opacity: 1;
	transition: 0.2s;
}
span.tooltips {
	position: absolute;
    width: 10rem;
	pointer-events: none;
	font-size: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-3.4rem + -1rem);
    color: #fff;
    text-align: center;
    padding: 1rem;
	font-weight: 900;
	background: var(--bg-color);
    border-radius: 7px;
    visibility: hidden;
    z-index: 2;
	opacity: 0;
    transition: 0.2s;
	text-transform: uppercase;
}
span.tooltips::before {
	content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    border: 9px solid;
    border-color: var(--bg-color) #0000 #0000 #0000;
	z-index: 3;
}



/* NÚMEROS DAS RIFAS */

.numero[data-state="alocado"] {
    background: var(--numero-alocado-background)!important;
    cursor: default !important;
}

.numero[data-state="reservado"] {
    background: var(--numero-reservado-background)!important;
    cursor: default !important;
}

/* mostra numeros selecionados */

.showNums {
	opacity: 0;
	pointer-events: none;
	transition: 0.4s;
}
.showNums.on {
	transition: 0.4s;
	opacity: 1;
	pointer-events: auto;
    gap: 1.5rem;
    position: fixed;
    left: 40px;
    bottom: 35px;
    border-left: 4px solid var(--bg-color);
    height: 90px;
    box-shadow: inset 45px 0px 60px -34px var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 1.5rem;
    font-size: 1.8rem;
    z-index: 10;
}
.showNums i {
    background: var(--bg-linear-gradient);
    width: clamp(3.7rem, 3vw + .28rem, 4rem);
    aspect-ratio: 1 / 1;
    border-radius: 1rem;
    display: grid;
    place-items: center;
    font-style: normal;
    padding: .2rem;
    color: #fff;
}


/* RESPONSIVIDADE */

@media (max-width: 976px){
	.imgDiv img {
		height: 80px;
		aspect-ratio: 3 / 1;
	}
	.descInfo {
		height: 80px;
		aspect-ratio: 3 / 1;
		margin-right: 15px;
	}
	.descInfo h3, .descInfo h4 {
		font-size: clamp(1.2rem, 1vw + .1rem, 1.44rem);
	}
	.imgDiv hr.last {
		width: clamp(12rem, 15vw + 1rem, 26.5rem);
	}
	.imgDiv hr {
		width: clamp(14rem, 15vw + 1rem, 28rem);
	}
}

@media (max-width: 630px){
	
	* {
		box-sizing: border-box;
	}
	
	.imgDiv hr.last {
		width: clamp(6rem, 10vw + 1rem, 9rem);
	}
	.imgDiv hr {
		width: clamp(7rem, 10vw + 1rem, 10rem);
	}
	h2.preco {
		margin: 1rem 1.5rem;
		padding: .8rem 1.5rem;
	}
	.descOutline {
		min-height: 140px;
		margin-inline: 2rem;
	}
	span.tooltips {
		font-size: 1.4rem;
	}
	
}

@media (max-width: 1033px){

	.subBtn {
		top: 12rem;
		bottom: unset;
	}
	form.rifaGrid {
		padding: 5rem 4rem 5rem 4rem;
	}
	button.resetNums,
	.lblSub	{
		width: 45px;
		aspect-ratio: 1 / 1;
		bottom: 30px;
		left: 30px;
		border: 2px solid #002803;
		border-radius: 100vw;
		font-size: 1.7rem;
	}	
	.lblSub {
		right: 30px;
		left: unset;
	}
	.showNums.on {
		left: 30px;
		bottom: 80px;
		border-bottom: 4px solid var(--bg-color);
		border-left: none;
		box-shadow: inset 0px -50px 38px -20px #117a42;
		justify-content: start;
		padding-left: 0;
		flex-direction: column;
		padding: 1rem;
		height: unset;
	}
}

@media (max-width: 678px){
	.subBtn {
		top: 7rem;
	}
}

@media (max-width: 450px){
	.imgDiv hr.last {
		width: 1.5rem;
	}
	.imgDiv hr {
		width: 2.5rem;
	}
	h1.nomeRifa {
		font-size: 2.5rem;
		margin-left: 0;
	}
	.descInfo {
		margin-right: 8px;
	}
	.descOutline {
		min-height: 180px;
	}
	h2.preco {
		margin: 1rem 1.2rem;
		padding: .8rem 1.2rem;
		justify-self: center;
		top: 5.5rem;
		right: unset;
	}
	.descInfo {
		height: 70px;
		aspect-ratio: 3 / 1;
		margin-right: 5px;
	}
	.imgDiv img {
		height: 70px;
		margin-left: .8rem;
	}
	.imgDiv {
		gap: .5rem;
	}
}

@media (max-width: 340px){
	.imgDiv hr {
		display: none;
	}
	
	h1.nomeRifa {
		font-size: 2.5rem;
	}
}