.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}
.centerContainer h1 {
    font-size: 4em;
    text-align: center;
    color: var(--bg-color);
}
.centerContainer h2 {
    font-size: 2.5em;
    text-align: center;
    color: var(--bg-color);
}
.btnVerRifas {
    font-size: 4em;
    background-color: var(--bg-color);
    color: white;
    padding: 0.3em 0.6em 0.3em 0.6em;
    border-radius: 1em;
    border: 0px;
}
.btnVerRifas:hover {
    filter: brightness(80%);
    cursor: pointer;
}
#svgCarrinho {
    width: 50%;
}
#svgCarrinho .a {
    fill: var(--bg-color);
    scale: 0.9;
    transition-delay: 0.25s;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
}
#svgCarrinho .a:hover {
    scale: 0.9075;
    transition-delay: 0.25s;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
}