@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Tilt+Warp&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

:root {
    --bg-color: #024e25;
	--bg-linear-gradient: linear-gradient(25deg, #036225, #022a25);
    --first-font-color: #fff;
    --hover-font-color: #53af59;
    --click-font-color: #235827;
    --numero-alocado-background: #d3d3d3;
    --numero-reservado-background: #545823;
    --lado-quadrado: 5em;
    --borda-quadrado: 0.4em;
    --cor-quadrado: #ccc;
}

html {
    font-size: 62.5%;
}
html, body {
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 118px;
}
body {
	overflow-y: hidden;
}

@media (max-width: 440px) {
	html, body {
		scroll-padding-top: 75px;
	}
}