.modalBg, .modalBgF, .modalbgPix {
    height: 100vh;
    top: 0;
    width: 100%;
    position: fixed;
    display: none;
    place-items: center;
    background: #00000061;
    z-index: 8;
}
.modalBg.on, .modalBgF.on, .modalbgPix.on {
    display: grid;
}
.modalBody,
.modalBodyF,
.modalBodyP {
    height: 27%;
    width: 30%;
	min-width: 330px;
    border-radius: 2rem;
    padding: 2rem;
    background: var(--bg-linear-gradient);
    display: grid;
    grid-template-columns: 1fr 5rem;
    grid-template-rows: 1fr 1rem 2fr;
}
.modalBodyF {
	height: 45%;
    width: 20%;
	grid-template-rows: 5rem 1rem 2fr;
}
.modalBodyP {
	height: 70%;
    width: 40%;
	grid-template-rows: 5rem 1rem 1fr;
}
.modalHead {
    display: flex;
    grid-column-start: 1;
    align-items: center;
	color: #56e55f;
    font-size: 1.5rem;
    justify-content: space-between;
    grid-column-end: 4;
}

i.fa-solid.fa-times {
    font-size: 3.7rem;
	cursor: pointer;
	transition: 0.4s;
}
i.fa-solid.fa-times.fa-4x:hover {
    color: #2fbb37;
}

hr.modalHr {
    grid-column-end: 4;
    grid-column-start: 1;
	width: 100%;
    border: none;
    height: 1px;
    background-color: #047a00a8;
}
.modalContent, .modalContentF {
    grid-column-end: 4;
    grid-column-start: 1;
    display: grid;
    gap: 1rem;
}
.modalContentPix {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    row-gap: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
}

h2#pixChave {
    width: 100%;
    height: 20%;
    line-break: anywhere;
    text-align: center;
}

.modalContentPix img {
	max-width: 100%;
    height: 60%;
}

.modalContentF{
	gap: 0;
}
input#btnConfirm,
input#btnDecline {
    all: unset;
    width: 50%;
	min-width: 200px;
    max-height: 55px;
    min-height: 55px;
    justify-self: center;
    border-radius: .5rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px; 
    text-transform: uppercase;
    cursor: pointer;
}
input#btnConfirm {
	color: #025217;
    margin-top: 2rem;
	transition: 0.4s;
    background: #01bd43;
}
input#btnConfirm:hover {
    letter-spacing: .2rem;
    background: #0ad152;
    box-shadow: inset 0px 0px 20px #39e148;
}

input#btnDecline {
    background: #890e0ec7;
	transition: 0.4s;
    color: #300000;
}
input#btnDecline:hover {
    letter-spacing: .2rem;
    color: #2c0000;
    background: #8d0c0cd9;
    box-shadow: inset 0px 0px 15px #9f0a0abf;
}

form.modalForm {
	height: 100%;
    width: 100%;
    display: grid;
    row-gap: .7rem;
    grid-template-rows: 5% 11% 5% 11% 5% 11% 45%;
}
form.modalForm label {
    font-size: 1.24rem;
	color: #70ef78;
    font-weight: bold;
}
form.modalForm input {
    border: 1px solid #898989;
    border-radius: .4rem;
    padding-inline: .8rem;
}

input#btnEnviar {
    height: 45%;
	max-height: 58px;
	min-height: 58px;
    place-self: center;
    width: 100%;
    border: none;
    color: #0f2813;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
    border-radius: .5rem;
    text-transform: uppercase;
    cursor: pointer;
	transition: 0.4s;
    background: #3aa333;
}
input#btnEnviar:hover {
    letter-spacing: .2rem;
    background: #1cb336;
}

#numerosRifa {
	display: none;
}