<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Rifa EM2</title>
</head>
    <body>
        <header>
            <div class="logo">
                <img src="../static/imagens/LogoCompleto.png" alt="Logo do Site">
            </div> 
            <nav>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Rifas</a></li>
                    <li><a>Pagamento</a></li>
                    <li><a>Sobre</a></li>
                </ul>

                <button class="menu-burguer">
                    <div class="linhas">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>  
                </button>

                <div class="menu-aside">
                    <ul>
                        <li><a>Home</a></li>
                        <li><a>Rifas</a></li>
                        <li><a>Pagamento</a></li>
                        <li><a>Sobre</a></li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
            <div class="leftSide">
                <h1 class="leftTitle">
                    SEJA BEM-VINDO
                </h1>
                <hr>
                <p class="welcome">
                    AO<br>SITE<br>DE<br>RIFAS
                </p>
            </div>
            <div class="rightSide">
                <h1 class="bigTitulo">
                    EM2
                </h1>
                <div class="rightInfo">
                    <h2 class="rightTitle">
                        Veja mais clicando abaixo <br>
                        <i class="fa-solid fa-chevron-down fa-1x"></i>
                    </h2>
                    <div class="rightGroup">
                        <button><i class="fa-solid fa-grip fa-2x"></i> <hr> Acesse as rifas</button>
                        <button><i class="fa-solid fa-question fa-2x"></i> <hr> Acesse o sobre nós</button>
                        <div class="contatoBar">
                            <i class="fa-brands fa-whatsapp fa-2x"></i>
                            <div class="dot"></div>
                            <i class="fa-brands fa-instagram fa-2x"></i>
                            <div class="dot"></div>
                            <i class="fa-brands fa-pix fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <svg style="visibility: hidden; position: absolute;" width="0" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1">
            <defs>
                <filter id="goo"><feGaussianBlur in="SourceGraphic" stdDeviation="8" result="blur" />    
                    <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                    <feComposite in="SourceGraphic" in2="goo" operator="atop"/>
                </filter>
            </defs>
        </svg>

        <script src="https://kit.fontawesome.com/75b9b9272c.js" crossorigin="anonymous"></script>
        <script src="../static/js/menuBurguer.js"></script>

    </body>
</html>