	{% block links %}
		<link rel="stylesheet" href="../static/css/modals.css">
	{% endblock %}

<div class="modalBgF">
	<div class="modalBodyF">
		<div class="modalHead">
			<h2>Estamos quase lá...</h2>
			<i class="fa-solid fa-times fa-4x" onclick="modalCloseF()"></i>
		</div>
		<hr class="modalHr">
		<div class="modalContentF">
			<form class="modalForm" action="/requisita-compra" method="post">
				<input type="text" value="" name="numerosRifa" id="numerosRifa">
				<label for="nome">Escreva seu nome: </label>
				<input type="text" name="nome" id="nome" required>
				
				<label for="phone">Escreva seu telefone: </label>
				<input type="tel" name="telefone" id="phone" required>

				<label for="email">Escreva seu email: </label>
				<input type="email" name="email" id="email" required>
				
				<input type="submit" name="btnEnviar" id="btnEnviar" value="Finalizar">
			</form>
		</div>
	</div>
</div>