{% for rifa in rifas %}
	<div class="rifa" data-id="{{ rifa.id }}" style="background-color: {{ rifa.cor }};margin:2rem;border-radius:5rem;border:2px solid #024e25">
		<div style="width:500px;margin-top: 4rem;text-align: center;padding: 2rem;border: 1px solid #024e25; border-radius: 1rem; background-color: white;" class="description">
			<img style="width:100%;height:auto;" src="{{ rifa.imagem }}"/>	
			<h1>{{ rifa.nome }}</h1>
			<h2>Autor: {{ rifa.autor }}</h2>
			<h3>Preço: {{ rifa.precoNumero }}</h3>
			<h4>Data de lançamento: {{ rifa.dataLancamento }}</h4>
			<h4>Data de Encerramento: {{ rifa.dataEncerramento }}</h4>
		</div>
		<form class="rifaGrid">
			
			{# renderiza números #}
			{% set numeros = rifa.numeros %}
			{% for j in range(1, (rifa.numeroMaximo + 1)) %}

				{# verifica se número é especial (reservado ou alocado) #}
				{% set numeroEspecial = {} %}
				{%for numero in numeros %}
					{% if numero.numeroRifa == j %}
						{% set numeroEspecial = numeroEspecial.update(numero) %}
					{% endif %}
				{% endfor %}

				{# renderiza número #}
				{% if numeroEspecial != {} %}
					<input class="numero" type="button" data-state="{{ numeroEspecial.status }}" data-nome="{{ numeroEspecial.nome }}" value="{{ j }}">
				{% else %}
					<input class="numero" type="button" data-state="free" onclick="modalcOpen(this)" value="{{ j }}">
				{% endif %}

			{% endfor %}

			<input type="button" name="btnConc" id="btnConc" onclick="modalfOpen()" disabled="true">
		</form>
		
		<label class="lblSub" for="btnConc">Concluir</label>
	</div>
{% endfor %}