{% extends "layout.html" %}

            {% block links %}
                <link rel="stylesheet" href="../static/css/variaveis.css">
                <link rel="stylesheet" href="../static/css/headerOthers.css">
				 <link rel="stylesheet" href="../static/css/pedidos.css">
            {% endblock %}

            {% block title %}
                Pedidos - Rifa EM2
            {% endblock %}

            {% block body %}
                <style>
                    html { overflow-y: scroll; }
                </style>
                <main>
                    {% if pedidos is defined and pedidos|length > 0 %}
						<div class="pedidosTitle">
							<hr>
							<h1> Pedidos </h1>
							<hr>
						</div>
                        {% for pedido in pedidos %}
                            <!-- comentário--> DÁ UMA OLHADA NOS DADOS AE, GUI: {{ pedido }}
							<div class="outerPart">	
								<div class="container">
                                    <p>Rifa: {{ pedido.rifa.nome }}</p>
									<div style="background-color:aqua;" class="numDisplay">
                                        <p>Números:</p>
                                        {% for numero in pedido.numerosRifa %}
                                            <div>{{ numero }}</div>
                                        {% endfor %}
									</div>
									<p>Data: <span> {{ pedido.dataPedido }}  </span> </p>
									<p>ID:  <span> {{ pedido.txid }}  </span> </p>
									<img src="{{ pedido.qrcode }}">
									<p>Pix Copia e Cola: <span> {{ pedido.copiaecola }}  </span> </p>
									<p>Satus:  <span class="minor"> {{ pedido.status }}  </span> </p>
									<hr>
								</div>
							</div>
							<hr class="outerHr">
                        {% endfor %}
                    {% else %}
                        <p style="text-align:center;">Não há nenhum pedido ainda.</p>
                    {% endif %}
                </main>
				
            {% endblock %}