{% extends "layout.html" %}

    {% block title %}
        Rifa EM2
    {% endblock %}

    {% block body %}
        <div class="principal">
            <form class="rifaGrid">
                <input type="button" data-state="free" value="1">
                <input type="button" data-state="free" value="2">
                <input type="button" data-state="free" value="3">
                <input type="button" data-state="free" value="4">
                <input type="button" data-state="free" value="5">
                <input type="button" data-state="free" value="6">
                <input type="button" data-state="free" value="7">
                <input type="button" data-state="free" value="8">
                <input type="button" data-state="free" value="9">
                <input type="button" data-state="free" value="10">
                <input type="button" data-state="free" value="11">
                <input type="button" data-state="free" value="12">
                <input type="button" data-state="free" value="13">
                <input type="button" data-state="free" value="14">
                <input type="button" data-state="free" value="15">
                <input type="button" data-state="free" value="16">
                <input type="button" data-state="free" value="17">
                <input type="button" data-state="free" value="18">
                <input type="button" data-state="free" value="19">
                <input type="button" data-state="free" value="20">
            </form>
        </div>
    {% endblock %}