	{% block links %}
		<link rel="stylesheet" href="../static/css/modals.css">
	{% endblock %}

<div class="modalBg">
	<div class="modalBody">
		<div class="modalHead">
			<h2>Deseja confirmar o número?</h2>
			<i class="fa-solid fa-times fa-4x" onclick="modalClose()"></i>
		</div>
		<hr class="modalHr">
		<div class="modalContent">
			<input type="button" name="btnConfirm" id="btnConfirm" onclick="confirm()" value="Confirmar">
			<input type="button" name="btnDecline" id="btnDecline" onclick="modalClose()" value="Cancelar">
		</div>
	</div>
</div>