html {	
    background-color: var(--first-font-color);
}
body, html {
	overflow-y: auto !important;
}

/* RIFAS */

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
	gap: 5rem;
}

form.rifaGrid {
    display: grid;
    width: 83%;
    gap: 1rem 0rem;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 5rem));
    place-items: center;
    gap: 0.2rem;
    row-gap: .8rem;
}

form.rifaGrid input {
    width: 80%;
    border:none;
    aspect-ratio: 1 / 1;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    background: var(--bg-color);
    color: var(--first-font-color);
    cursor: pointer;
    transition: 0.4s;
}

form.rifaGrid input:hover {
    background-color: var(--click-font-color);
}

.description {
    margin-top: 4rem;
    text-align: center;
}

input#submitBtn {
    display: none;
}

.lblSub {
	height: 6rem;
    width: 15%;
    background: #39c357;
    border-radius: .3rem;
    display: grid;
    place-items: center;
    font-size: 1.6rem;
    color: #183a0a;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    cursor: pointer;
}
.lblSub:last-of-type {
	    margin-bottom: 4rem;
}